<section
  id="certifications"
  class="bg-[#111827] text-white py-20 border-t border-white/5"
>

  <div class="max-w-6xl mx-auto px-6">

    <h2 class="text-4xl font-bold mb-12">
      Certifications
    </h2>

    <div class="grid sm:grid-cols-2 gap-8">

      <!-- ACE -->
      <div  data-aos="fade-up" data-aos-delay="100" class="cert-card">
        <div class="cert-image-wrapper">
            <img
              src="/ace.jpg"
              alt="Associate Cloud Engineer"
              class="cert-image"
            />
        </div>

        <div class="mt-6">

          <h3 class="cert-title">
            Associate Cloud Engineer
          </h3>

          <p class="cert-org">
            Google Cloud
          </p>

          <p class="cert-date">
            Feb 2026
          </p>

          <a
            href="https://www.credly.com/badges/adb5561f-b6a2-4397-aaca-b299211976b4/public_url"
            target="_blank"
            class="cert-button"
          >
            Verify Credential →
          </a>

        </div>

      </div>

      <!-- PYTHON -->
      <div data-aos="fade-up" data-aos-delay="200" class="cert-card">
        <div class="cert-image-wrapper">
            <img
              src="/itspecialist.jpg"
              alt="IT Specialist Python"
              class="cert-image"
            />
        </div>

        <div class="mt-6">

          <h3 class="cert-title">
            IT Specialist – Python
          </h3>

          <p class="cert-org">
            Certiport – Pearson VUE
          </p>

          <p class="cert-date">
            Nov 2025
          </p>

          <a
            href="https://www.credly.com/badges/30f7cc4f-ab3f-4f1e-b1b7-6b3557b8b867/public_url"
            target="_blank"
            class="cert-button"
          >
            Verify Credential →
          </a>

        </div>

      </div>

    </div>

  </div>

</section>